<div class="carselect-container">
  <div class="grid-container">
    <div class="image">
      <img class="rounded" [src]="selected.img">
    </div>
    <div class="logo">
      <img [src]="selected.logo">
    </div>
    <div class="brand-info centered-text rounded debug2">
      <h3>{{selected.brand}}</h3>
      <p>{{selected.model}}</p>
      <p>{{selected.year}}</p>
    </div>
    <div class="specs centered-text rounded debug2">
      <p><b>Vitesse Maximum:</b>  {{selected.maximum_speed}}</p>
      <p><b>0-60:</b>  {{selected.sixty}}</p>
      <p><b>Puissance:</b>  {{selected.horsepower}}HP</p>
      <p><b>Transmission:</b>  {{selected.drivetrain}}</p>
    </div>
  </div>
  <div class="carlist-container">
  <mat-action-list class="debug2 rounded">
    <mat-list-item *ngFor="let car of cars; let i = index" (click)="setSelected(i)">
     <h1>{{car.brand}} {{car.model}}</h1>
    </mat-list-item>
  </mat-action-list>
  </div>
</div>
