.carselect-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 5rem;
  gap: 1rem;
}


.grid-container {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "image image logo"
    "image image brand-info"
    "specs specs specs";
}
.image { grid-area: image; }
.logo { grid-area: logo; display: flex; justify-content: center; align-items: center }
.brand-info { grid-area: brand-info; }
.specs { grid-area: specs; }

.image > img {
  width: 100%;
  max-width: 100%;
  max-height: 339px;
}
.logo > img {
  width: 100%;
  max-width: 150px;
  max-height: 100px;
}

.carlist-container {
  max-height: inherit;
  flex-grow: 1;
}

mat-action-list {
  width: 100%;
  height: 100%;
}

.rounded {
  border-radius: 1rem;
}

.centered-text {
  text-align: center;
  padding-top: 2rem;
}

.debug2 {
  background-color: rgba(255, 89, 89, 0.72);
}
