@use 'sass:map';
@use '@angular/material' as mat;

.nav-container {
  z-index: 2000;
  max-height: 70px;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  top: 0;
  background-color: rgb(220,0,0);
  -webkit-box-shadow: 0 1px 6px 4px rgba(0,0,0,0.68);
  box-shadow: 0 1px 6px 4px rgba(0,0,0,0.68);
}


ul {
  top: 0;
  margin: 0;
  height: 100%;
  display: flex;
  width: inherit;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}


h4 {
  text-align: center;
  background-color: #282828;
  color: white;
}

li {
  height: 70px;
  flex-basis: 25%;
  text-align: center;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


a {
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a > img {
  max-width: 100%;
  max-height: 100%;
}

a:hover {
  background-color: #7a0000;
  overflow: hidden;
}

a:active {
  background-color: #fa9898;
}


.footer-container {
  height: 300px;
  background-color: #282828;
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.github-link {
  flex-basis: 30%;
  padding-bottom: 1rem;
}


.footer-logo {
  flex-basis: 30%;
  max-height: 100px;
  max-width: 150px;
}
