<div class="nav-container">
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" (click)="scrollToId(top)"><img src="../assets/logo.png" alt="site logo"></a></li>
      <li><a routerLink="/cars" (click)="scrollToId(top)">Voitures</a></li>
      <li><a routerLink="/about" (click)="scrollToId(top)">A Propos</a></li>
      <li><a routerLink="/contact" (click)="scrollToId(top)">Contact</a></li>
    </ul>
  </nav>
</div>
<div #top id="top" style="height: 70px; width: 100vw"></div>
<router-outlet></router-outlet>
<footer>
  <div class="footer-container">
    <button mat-button color="primary" (click)="scrollToId(top)">Haut de la page</button>
    <a class="github-link" mat-button color="primary" href="https://github.com/CedricAOUN/" target="_blank">GitHub du développeur</a>
    <img class="footer-logo" src="assets/logo.png" alt="site logo">
  </div>
  <h4>Copyright © 2023 Location Prestige</h4>
</footer>
