<div class="wrapper">
  <div class="car-container">


    <img class="car-img" *ngFor="let car of cars; let i = index" [src]="car.img" (click)="changeSelected(i)" [ngClass]="getSelectedIndex(i)">
  </div>
  <div class="info-container">
    <div class="brand-container">
      <div class="logo-container">
        <img class="logo" [src]="selectedCar.logo ? selectedCar.logo : '../../assets/logo.png'">
      </div>
      <p class="brand-model-name"> {{selectedCar.brand ? selectedCar.brand : 'Marque'}} - {{selectedCar.model ? selectedCar.model : 'Modèle'}}</p>
    </div>
    <p class="spec"><b>Vitesse:</b> <span class="spec-value"> {{selectedCar.maximum_speed || "N/A"}} </span></p>
    <p class="spec"><b>0-100KMH:</b> <span class="spec-value"> {{selectedCar.sixty || "N/A"}} </span></p>
    <p class="spec"><b>Puissance:</b> <span class="spec-value"> {{selectedCar.horsepower || "N/A"}}HP </span></p>
    <p class="spec"><b>Transmission:</b> <span class="spec-value"> {{selectedCar.drivetrain || "N/A"}} </span></p>
    <p class="spec"><b>Prix par jour:</b> <span class="spec-value"> {{selectedCar.rent || "N/A"}}€ </span></p>
  </div>
</div>
