#car-selector {
  padding-top: 0;
  height: auto;
}

.centered-text {
  text-align: center;
}

#location-selector {
  height: 100vh;
  padding-top: 70px;
}

.stripe-container {
  display: flex;
  justify-content: center;
}

app-checkout {
  text-align: center;
  background-color: #2d2d2d;
  padding-left: 2em;
  padding-right: 2em;
}
