#car-selector {
  height: auto;
  background-color: #282828;
}

#car-selector > #section-header {
  color: white;
}

.car-container {
  height: auto;
  padding-bottom: 3rem;
  padding-top: 3em;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}


.centered-text {
  text-align: center;
}

#location-selector {
  height: calc(100vh - 70px);
  padding: 70px 0 0;
}

.stripe-container {
  display: flex;
  justify-content: center;
}

app-checkout {
  text-align: center;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  height: 100%;
}

#dates-selector {
  background-color: #282828;
  height: auto;
}

#dates-selector > h1 {
  color: white;
}

.chevron-position {
  position: absolute;
  left: 50%;
  bottom: 0;
  max-width: 70px;
  transform: translate(-50%, -50%);
}

.dates-container {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  padding: 3em;
}

@media (max-width: 450px) {
  h1 {
    font-size: 20px !important;
  }
  #checkout {
    height: auto;
  }
}
