<section id="car-selector">
  <h1 id="section-header">Sélectionner une voiture</h1>
  <div class="car-container">
    <app-car-selector></app-car-selector>
  </div>
  <div (click)="scrollToId(area)" class="centered-text scroll-chevron chevron-position">
    <mat-icon aria-hidden="false" aria-label="expand mode" fontIcon="expand_more"></mat-icon>
  </div>
</section>
<section id="location-selector" #area>
  <h1>Sélectionner une addresse</h1>
  <app-location></app-location>
  <div (click)="scrollToId(dates)" class="centered-text scroll-chevron inverted chevron-position">
    <mat-icon aria-hidden="false" aria-label="expand mode" fontIcon="expand_more"></mat-icon>
  </div>
</section>
<section id="dates-selector" #dates>
  <h1>Dates de location</h1>
  <div class="dates-container">
    <mat-form-field class="input" color="accent">
      <mat-label>Date de retrait:</mat-label>
      <input [(ngModel)]="startDate" matInput matNativeControl="datetime-local" name="receive" class="card-input" [matDatepicker]="receivePicker" (click)="receivePicker.open()" [min]="minDate" (dateChange)="changeStart(startDate)">

      <mat-datepicker-toggle matPrefix [for]="receivePicker" ></mat-datepicker-toggle>
      <mat-datepicker #receivePicker [touchUi]="true"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input" color="accent">
      <mat-label>Date de retour:</mat-label>
      <input [(ngModel)]="endDate" matInput matNativeControl="datetime-local" name="return" class="card-input" [matDatepicker]="returnPicker" (click)="returnPicker.open()" [min]="minDate" (dateChange)="changeEnd(endDate)">

      <mat-datepicker-toggle matPrefix [for]="returnPicker"></mat-datepicker-toggle>
      <mat-datepicker #returnPicker [touchUi]="true"></mat-datepicker>
    </mat-form-field>
  </div>

<!--  <div (click)="scrollToId(payment)" class="centered-text scroll-chevron chevron-position">-->
<!--    <mat-icon aria-hidden="false" aria-label="expand mode" fontIcon="expand_more"></mat-icon>-->
<!--  </div>-->
</section>

<section id="checkout" #payment>
  <h1>Paiement</h1>
  <div class="stripe-container">
    <app-checkout></app-checkout>
  </div>
</section>
