/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding-bottom: 0;
}

.debug {
  border: 3px solid #ee00a0;
  background: linear-gradient(#000000, #ffdc06);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
  position: relative;
  height: 50vh;
  padding-top: 80px;
  padding-bottom: 1rem;
}
section > h1 {
  text-align: center;
  padding-top: 1rem;
}

.scroll-chevron {
  background-color: rgba(255, 255, 255, 0.16);
  padding: 0.5rem;
  border-radius: 5px;
}

.inverted {
  background-color: rgba(0,0,0,0.16) !important;
  color: white !important;
}
.inverted:hover {
  background-color: rgba(0,0,0,1) !important;
}

.scroll-chevron:hover {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  border-radius: 5px;
}
