.header-img {
  height: calc(100vh - 70px);
  min-height: 720px;
  min-width: 1080px;
  width: 100%;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-bottom-center {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: hsl(0,0, 90, 0.8);
}

mat-card-subtitle, mat-card-title {
  display: block;
  width: max-content;
}


.card-input {
  margin-left: 1em;
  margin-right: 1em;
}

.brands-header {
  text-align: center;
}

.section-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-container {
  display: flex;
  gap: 1em;
}

.brand-logos {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 70%;
  padding: 3em;
  flex-wrap: wrap;
}

.brand-logos > img {
  max-height: 100px;
  max-width: 100px;
}
.brand-description {
  margin-top: 2rem;
}
mat-card-title {
  margin-left: 1em;
  margin-bottom: 0.5em;
}


mat-form-field {
  margin-left: 1em;
  margin-right: 1em;
}

mat-card-actions {
  justify-content: center;
}

.error-msg {
  margin-left: 1.5em;
  color: red;
}

#delivery-info {
  background-color: #2c2c2c;
}
.delivery-info-header {
  color: white;
}

.delivery-container {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 3rem;
}

.delivery-container > p {
  flex-basis: 60%;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
}

.delivery-img {
  border-radius: 5px;
  max-width: 400px;
}

@media (max-width: 830px) {
  mat-card-subtitle, mat-card-title {
    display: block;
    width: 100%;
  }
  .input {
    width: 90%;
  }
  #delivery-info {
    height: auto;
  }
  .delivery-container {
    flex-direction: column;
  }
  .delivery-img {
    max-width: 300px;
  }
}
