.header-img {
  height: calc(100vh - 70px);
  width: 100%;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-bottom-center {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: hsl(0,0, 90, 0.8);
}

.card-input {
  margin-left: 1em;
  margin-right: 1em;
}

.brands-header {
  text-align: center;
}

.section-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-container {
  display: flex;
  gap: 1em;
}

.brand-logos {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 70%;
  padding: 3em;
  flex-wrap: wrap;
}

.brand-logos > img {
  max-height: 100px;
  max-width: 100px;
}
.brand-description {
  margin-top: 2rem;
}
mat-card-title {
  margin-left: 1em;
  margin-bottom: 0.5em;
}


mat-form-field {
  margin-left: 1em;
  margin-right: 1em;
}
mat-card-actions {
  justify-content: center;
}

.error-msg {
  margin-left: 1.5em;
  color: red;
}

