<div>
  <img class="header-img" src="https://images.hdqwalls.com/wallpapers/bugatti-chiron-cgi-8k-b2.jpg">
  <div class="header-center">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Retrait et date</mat-card-title>
        <mat-card-subtitle>
          <p class="error-msg" *ngIf="errorMsg">{{errorMsg}}</p>
          <mat-form-field formGroup="dateAddressForm" class="input" color="accent">
            <mat-label>Adresse:</mat-label>
            <input matInput class="card-input" [(ngModel)]="address">
          </mat-form-field>
          <mat-form-field class="input" color="accent">
            <mat-label>Date de retrait:</mat-label>
            <input [(ngModel)]="startDate" matInput matNativeControl="datetime-local" name="receive" class="card-input" [matDatepicker]="receivePicker" (click)="receivePicker.open()" [min]="minDate">

            <mat-datepicker-toggle matPrefix [for]="receivePicker" ></mat-datepicker-toggle>
            <mat-datepicker #receivePicker [touchUi]="true"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="input" color="accent">
            <mat-label>Date de retour:</mat-label>
            <input [(ngModel)]="returnDate" matInput matNativeControl="datetime-local" name="return" class="card-input" [matDatepicker]="returnPicker" (click)="returnPicker.open()" [min]="minDate">

            <mat-datepicker-toggle matPrefix [for]="returnPicker"></mat-datepicker-toggle>
            <mat-datepicker #returnPicker [touchUi]="true"></mat-datepicker>
          </mat-form-field>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="warn" (click)="preloadCars(address, startDate, returnDate)">Voir les voitures</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div (click)="scrollToId(brands)" class="header-bottom-center scroll-chevron">
    <mat-icon aria-hidden="false" aria-label="expand more" fontIcon="expand_more"></mat-icon>
  </div>
</div>
<section #brands id="brands">
  <h1 class="brands-header">Nos marques</h1>
    <div class="brand-container">
      <div class="brand-logos">
        <img *ngFor="let car of cars" [src]="car.logo">
      </div>
      <div class="brand-description">
        <h3>Les meilleures marques de luxe</h3>
        <p>Nous disposons d'une sélection des meilleures et des plus luxueuses marques de véhicules disponibles à la location. Tous sont prêts à vous être livrés, où que vous soyez et quand vous le souhaitez.</p>
      </div>
    </div>
  <div (click)="scrollToId(delivery)" class="header-bottom-center scroll-chevron inverted">
    <mat-icon aria-hidden="false" aria-label="expand more" fontIcon="expand_more"></mat-icon>
  </div>
</section>
<section id="delivery-info" #delivery>
  <h1 class="delivery-info-header">Livraison</h1>
  <div class="delivery-container">
    <p>We will deliver the car directly to your doorstep, or any other address you choose, in pristine condition, for no additional charges. </p>
    <img class="delivery-img" src="https://agate.group/upload/img/about/02.jpg">
  </div>
</section>


